* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "JetBrains Mono", monospace;
  color: rgb(182, 180, 180);
}

body {
  background: linear-gradient(90deg, rgba(9, 9, 9, 1), rgba(25, 31, 44, 1));
  --primary-color: rgba(10, 10, 10, 0.473);
  --primary-color-hover:rgb(10, 10, 10);
  --secondary-background: rgb(69, 196, 255);
  --secondary-background-hover: rgb(18, 129, 180);

  --text-main:rgb(182, 180, 180);;
}
.main-container {
  margin: 40px 40px 0px 40px;
}

select {
  background-color: var(--secondary-background);
  color: black;
  border-radius: 5px;
  outline: none;
  font-size: medium;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.5s;
}
select:hover{
  background-color: var(--secondary-background-hover);
}
option {
  background-color: rgba(0, 0, 0, 0.979);
}
.main-button {
  font-size: larger;
    padding: 5px;
    background-color: var(--secondary-background);
    border-radius: 6px;
    border: 1px solid white;
    color: black;
    transition: background-color 0.5s;
    cursor: pointer;
    font-weight: 800;
}
.main-button:hover {
  background-color: white;
}

#bttn {
  background-color: silver;
  color: black;
  text-align: center;
  border: 0.1rem solid;
  border-radius: 0.5rem;
  padding: 0.8rem;
  transition: background-color 0.5s;
  text-decoration: none;
}

#bttn:hover {
  background-color: white;
  color: black;
}