#title {
    margin-left: 30px;
    margin-top: 30px;
}
#catalog-body{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#filter{
    display: inline-flex;
    flex-direction: column;
    border: 1px solid rgb(122, 120, 120);
    border-radius: 10px;
    margin-top: 65px;
    margin-left: 20px;
    font-size: larger;
    background-color: var(--primary-color);
    box-shadow: -3px 3px rgb(31, 31, 31);
    min-width: 220px;
}
#filter > *{
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid rgb(110, 110, 110);
    float: left;

}
#filter select {
    background-color: var(--secondary-background);
    color: black;
    border-radius: 5px;
    outline: none;
    font-size: medium;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.5s;
}
#filter select:hover{
    background-color: var(--secondary-background-hover);
}
select option {
    background-color: rgba(0, 0, 0, 0.979);
}
input[type="checkbox"]{
    cursor: pointer;
}
.sort_label{
    display: flex;
    align-items: center;
}
.sort_label p {
    display: inline;
}
#jobs-body{
    width: 100%;
    margin-left: 80px;
}
#search-bar {
    margin-right: 55px;
    margin-bottom: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: larger;
}
#search{
    border-radius: 5px;
    background-color: var(--primary-color);
    font-size: larger;
    transition: border-color 1s;
    outline: none;
    border:1px solid rgb(0, 0, 0);
    width: 20rem;
}
#search:hover {
    border-color: rgb(134, 198, 255);
}
#jobs-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,265px);
    justify-content: center;
    margin-right: 50px;
    gap: 4rem;
    margin-left: 30px;
    justify-content: space-between;
}

/* @media screen and (max-width: 1700px){
    #jobs-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1400px){
    #jobs-grid {
        grid-template-columns: 1fr 1fr;
    }
} */

.job-card {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.5s;
    width: 240px;
    background-color: rgb(238, 238, 238);
}
.job-card:hover{
    background-color: var(--primary-color);
}
.job-card img {
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 5px;
} 
.training-location {
    margin-top: 0px;
    margin-bottom: 10px;
}
.card-body {
    border-radius: 10px;
    border: 1px solid white;
    color: black; 
    max-width: 220px;
    padding: 10px;
    background-color:#f9f5e6;
}
.card-body a {
    text-decoration: none;
    
}
.card-body a:hover {
    text-decoration: underline;
}
.company-name {
    font-weight: 600;
    font-size: xx-large;
    text-decoration: none;
}
.rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px
}
.rating-count {
    font-size: small;
    padding-right: 5px;
}
.train-location {
    padding-bottom: 5px;
    border-bottom: 1px dashed rgb(0, 0, 0);
}
img[alt="location"]{
    margin: 0px 5px 0px 0px;
}
.train-location h2 {
    display: inline;
    font-size: larger;
}
.targetted-majors{
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
}
.targetted-majors .major {
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    font-size: small;
    border-radius: 9999px;
    width: 35px;
    height: 20px;
    text-align: center;
}
.outer-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 10px;
    
}
.apply {
    margin-right: 10px;
    font-size: larger;
    padding: 5px;
    background-color: var(--secondary-background);
    border-radius: 6px;
    border: 1px solid white;
    color: black;
    transition: background-color 0.5s;
    cursor: pointer;
    font-weight: 800;
}
.apply:hover {
    background-color: white;
}
.users-rating {
    padding: 5px;
}
