@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&family=Playfair+Display&family=Poppins:wght@600&family=Raleway:wght@500&display=swap");
header {
  width: 85%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0 auto;
  margin-top: 1rem;
}
nav {
  display: flex;
  padding: 2.2rem;
  width: 95%;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: rgb(30, 24, 30)  ;
  border-radius: 4rem;
  margin: 0 auto;
  margin-top: 1rem;
}


.a-tag-nav {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: border 0.2s;
  border-radius: 0.5rem;
  animation: border 0.5s;
}
/* create keyframes to make a smooth border */
@keyframes border {
  0% {
    border: 0.1rem solid white;
  }
  100% {
    border: 0.2rem solid white;
  }
}


.nav-elements {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
}

#sign-in-up {
  color: black;
  background-color: white;
  text-align: center;
  width: fit-content;
  padding: 1rem;
  transition: border 0.1s;
  text-decoration: none;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
}


#already-login {
  color: white;
  text-align: center;
  width: fit-content;
  padding: 0.3rem;
  text-decoration: none;
}