@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&family=Playfair+Display&family=Poppins:wght@600&family=Raleway:wght@500&display=swap");
header {
  width: 100%;
  overflow-x: hidden;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 95%;
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
  background-color: #0a3554  ;
  border-radius: 4rem;
  margin: 0 auto;
  margin-top: 1rem;
  align-self: center;
}

Logo {
  width: 1rem;
  height: 1rem;
}

.a-tag-nav {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.a-tag-nav::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: whitesmoke;
  transition: width 0.6s;
}

.a-tag-nav:hover::after {
  width: 100%;
}

.nav-elements {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 350%;
}

#sign-in-up {
  background-color: silver;
  color: black;
  text-align: center;
  width: 40%;
  border: 0.1rem solid;
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin-right: 4%;
  transition: background-color 0.5s;
  text-decoration: none;
}

#sign-in-up:hover {
  background-color: white;
  color: black;
}
